#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.parallax {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

/* .parallax[data-speed="0.2"]::before {
  background-image: url('./assets/images/test.png');
  opacity: 0.4;
  transform: translateZ(-1px) scale(1.2) translateY(20px);
} */

.parallax[data-speed="0.4"]::before {
  background-image: url('./assets/images/cat.gif');
  opacity: 0.6;
  transform: translateZ(-1px) scale(1.5) translateY(150px);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.side-image {
  position: absolute;
  top: 46.5%;      /* Adjust vertical position */
  left: 10px;    /* Move to left, change to right: 10px; for right */
  transform: translateY(-50%);
  width: 400px;  /* Adjust size */
}

.right-image {
  position: absolute;
  top: 75%;      /* Adjust vertical position */
  right: 10px;    /* Move to left, change to right: 10px; for right */
  transform: translateY(-40%);
  width: 290px;  /* Adjust size */
}


.border-ring {
  position: absolute;
  top: 110%;      /* Adjust vertical position */
  left: 10px;    /* Move to left, change to right: 10px; for right */
  transform: translateY(-50%);
  width: 400px;  /* Adjust size */
}

.face-circle {
  position: absolute;
  top: 110%;      /* Adjust vertical position */
  left: 34px;    /* Move to left, change to right: 10px; for right */
  transform: translateY(-50%);
  width: 355px;  /* Adjust size */
  height: 35%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rollIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

.roll-in {
  animation: rollIn 2s ease-out;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
}
